body {
    font-family: 'Heebo', sans-serif;
    line-height: 1.5;
    background: url('../images/background-shapes.svg') no-repeat 0 675px;
    background-size: cover;
}

.home-page {
    background: url('../images/home-gems.svg') no-repeat 0 0;
    background-size: cover;
}

h2 {
    line-height: 1.33;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 48px;
    position: relative;
    display: inline-block;
}

h3 {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.33;
    margin-bottom: 32px;
}

.following-h3 {
    margin-top: 48px;
}

.section-h2::after, .main-nav-item.current::after {
    height: 12px;
    width: 100%;
    opacity: 0.5;
    background-color: #00edff;
    position: absolute;
    bottom: 10px;
    left: 0;
    content: "";
    z-index: -1;
}

.main-nav-item.current::after {
    height: 4px;
}

.main-nav-item.current a {
    color: black;
}

.logo-black {
    width: 140px;
    height: 32px;
    margin-right: 26px;
}

.logo-color {
    width: 371px;
    height: 83px;
    max-width: 100%;
}

.hero-section {
    display: flex;
    align-items: center;
}

.hero-face {
    width: 726px;
    height: 542px;
    margin-left: -40%;
    margin-bottom: 100px;
}

.music-background {
    height: 594px;
    width: auto;
    margin-top: -50%;
}

@media (max-width: 550px) {
    .hero-face {
        width: 100%;
        height: auto;
    }

    .music-background {
        width: 100%;
        height: auto;
        margin: 0;
    }
}

.tour-subtitle {
    font-size: 36px;
    line-height: 1.33;
}

.buy-tickets-button {
    background: url('../images/buy-tickets-shape.svg') no-repeat 0 0;
    width: 279px;
    height: 89px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 800;
    color: white;
    text-decoration: none;
}

.buy-tickets-button:hover {
    color: white;
    opacity: 0.9;
}

.button-pink, .button-blue {
    border: none;
    color: white;
    border-radius: 0;
}

.button-pink:hover, .button-blue:hover, .button-standalone:hover {
    color: white;
    opacity: 0.9;
}

.button-standalone {
    border-radius: 4px;
    min-width: 245px;
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

.button-pink {
    background-color: #e90a8a;
}

.button-blue {
    background-color: #00cbff;
}

.card, .shadow-card {
    border-radius: 4px;
    background: white;
}

.padding-card {
    padding: 24px;
    margin-bottom: 40px;
}

@media (max-width: 550px) {
    .card, .shadow-card {
        margin-bottom: 48px;
    }
}

.shadow-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.venue-image {
    padding: 8px;
    box-sizing: border-box;
    height: 204px;
    width: 100%;
    object-fit: cover;
}

.venue-inner {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 8px;
}

.venue-title {
    font-size: 16px;
    font-weight: 800;
}

.venue-subtitle {
    opacity: 0.5;
    font-size: 12px;
}

.venue-button {
    width: 100%;
    margin: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 12px;
    font-weight: 800;
}

.album-cover {
    height: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 550px) {
    .album-cover {
        margin-bottom: 24px;
    }
}

.play-row {
    display: flex;
}

.play-row-right {
    flex: 1;
}

.tracks-section {
    margin-bottom: 200px;
}

.sample-track {
    background: white;
    border-radius: 4px;
    height: 48px;
    margin-bottom: 4px;
    padding: 12px;
    box-sizing: border-box;
}

.sample-track-selected {
    color: #e90a8a;
    height: 111px;
}

.sample-track-selected .play-button {
    margin-top: 42px;
}

.sample-track-selected .sample-track-info {
    margin-left: -38px;
}

.sample-track-selected .track-info-name {
    font-weight: 800;
}

.sample-track-selected .track-info-album {
    opacity: 0.5;
}

@media (max-width: 999px) {
    .track-info-singer {
        display: none;
    }
}

.waveform-container {
    width: calc(100% - 25px);
    min-height: 64px;
}

.play-button {
    background: url('../images/play-button.svg') no-repeat;
    font-size: 0;
    width: 25px;
    height: 25px;
    border: 0;
    margin: 0;
    padding: 0;
    margin-right: 13px;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, margin-top, margin-left;
    transition-timing-function: ease-out;
}

.play-button.playing {
    background: url('../images/pause-button.svg') no-repeat;
}

.luminous-gallery {
    display: block;
    width: 25%;
    height: 25%;
}

.tour-photo {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
    background: black;
}

.tour-photo-see-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    font-size: 42px;
    font-weight: 800;
    color: white;
    line-height: 1.33;
}

@media (max-width: 999px) {
    .tour-photo-see-more {
        font-size: 26px;
    }
}

@media (max-width: 700px) {
    .tour-photo-see-more {
        height: 293px;
        width: 100%;
        font-size: 48px;
    }

    .luminous-gallery {
        width: 100%;
    }
}

.photos-section {
    display: flex;
    flex-wrap: wrap;
    background-color: #e90a8a;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

.main-nav {
    padding-top: 24px;
    padding-bottom: 36px;
    display: flex;
    flex-direction: column;
}

.footer-nav {
    padding-top: 6px;
    padding-bottom: 18px;
    margin-left: -8px;
}

.footer-nav.main-nav a {
    opacity: 1;
    color: white;
}

.top-container {
    min-height: calc(100vh - 140px);
}

.burger-button {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: #00cbff;
    position: relative;
    margin-left: auto;
}

.burger-button span {
    background-color: white;
    display: block;
    height: 2px;
    left: calc(50% - 8px);
    position: absolute;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 16px;
}

.burger-button span:nth-child(1) {
    top: calc(50% - 6px);
}

.burger-button span:nth-child(2) {
    top: calc(50% - 1px);
}

.burger-button span:nth-child(3) {
    top: calc(50% + 4px);
}

.burger-button.is-active {
    background-color: #e90a8a;
}

.burger-button.is-active span:nth-child(1) {
    -webkit-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
}

.burger-button.is-active span:nth-child(2) {
    opacity: 0;
}

.burger-button.is-active span:nth-child(3) {
    -webkit-transform: translateY(-5px) rotate(-45deg);
    transform: translateY(-5px) rotate(-45deg);
}

.main-nav-links {
    display: flex;
    flex-direction: column;
}

.main-nav-item {
    font-size: 16px;
    font-weight: 800;
    margin: 0 8px;
    position: relative;
    display: none;
}

.main-nav-top {
    display: flex;
}

.main-nav.is-active .main-nav-item {
    display: block;
}

@media (max-width: 999px) {
    .main-nav-item a {
        background-color: #fafafa;
        margin: 2px;
        padding: 10px;
        display: block;
    }
}

@media (min-width: 1000px) {
    .burger-button {
        display: none;
    }

    .main-nav {
        flex-direction: row;
    }

    .main-nav-item {
        display: block;
    }

    .main-nav-links {
        flex-direction: row;
    }
}

.main-nav-item a {
    text-decoration: none;
    font-weight: 800;
    color: #808080;
}

.see-more-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 70px;
}

.main-footer {
    background-color: #990a62;
    color: white;
    font-size: 16px;
    padding: 24px;
}

.main-footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.press-section {
    margin-top: 16px;
}

.press-section a {
    text-decoration: none;
}

.pin-icon {
    vertical-align: middle;
    margin-right: 16px;
}

.press-subtitle {
    color: black;
    opacity: 0.5;
}

.album-description-row {
    margin-bottom: 150px;
}

@media (max-width: 550px) {
    .album-description-row {
        display: flex;
        flex-direction: column-reverse;
    }
}

